//
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
.container {
    max-width: 1200px;
    margin: 0 auto;
}
  
body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    --app-blue: #0282F9;
    --app-heavy-grey: #303030;
}

.jumbo {
    background-image: url('/img/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 20vw;
}

.shop {
    height: 20vw;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content:center;
    align-items:center;
}

@import'../sass/header.scss';
@import'../sass/footer.scss';
@import'../sass/main.scss';
@import'../sass/comicPage.scss';

