.blue-band {
    background-color: var(--app-blue);
    height: 80px;
    position: relative;

    img {
        position: absolute;
        bottom: 25px;
    }
}

.comic-wrapper {
    padding: 70px 0;

    .container {
        display: flex;
        justify-content: space-between;
        gap: 35px;

        .comic-info {

            h1 {
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            .price-wrapper {
                background-color: green;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: rgba(255, 255, 255, 0.8);
                // padding: 0 16px;
                margin-bottom: 20px;

                .comic-price {
                    display: flex;
                    justify-content: space-between;
                    flex-grow: 1;
                    border-right: 2px solid rgba(0, 0, 0, 0.5);
                    padding: 15px;

                    &>span {
                        text-transform: uppercase;
                    }

                    .price {
                        color: white;
                        font-weight: 600;
                    }
                }

                .available {
                    padding: 15px;
                    color: white;
                    font-weight: 600;
                }
            }

            .comic-description {
                line-height: 1.5rem;
                font-size: 1.2rem;
                color: grey;
            }
        }

        .adv {
            text-align: right;

            h2 {
                text-transform: uppercase;
                margin-bottom: 10px;
                color: grey;
            }
        }
    }
}

.comic-specs {
    background-color: lightgrey;
    padding-top: 20px;

    .container {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;

        .talent-specs {
            width: calc((100% - 40px) / 2);

            h3 {
                font-size: 1.5rem;
                margin-bottom: 20px;
            }

            .talent-info {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid grey;
                padding: 10px 0;

                &:first-child {
                    border: 1px solid grey;
                }

                h5 {
                    white-space: nowrap;
                    width: 25%;
                }

                p {
                    width: 70%;

                    a {
                        text-decoration: none;
                        color: var(--app-blue);
                        font-weight: 600;

                        &:not(:last-child)::after {
                            content: ',';
                            display: inline-block;
                            color: black;
                        }

                        &.series {
                            text-transform: uppercase;
                        }
                    }
                }

            }
        }

        .site-banner {
            width: 100%;
        }
    }
}