.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
  
    .logo {
        width: 100px;
  
        img {
            width: 100%;
        }
    }
  
    .main-nav {
      display: flex;
      gap: 20px;
  
      ul {
        display: contents;
        list-style: none;
  
        .nav__item {
          text-transform: uppercase;
          white-space: nowrap;
          position: relative;
  
          &::after {
            position: absolute;
            content: '';
            display: none;
            right: 0;
            left: 0;
            bottom: -53px;
            height: 4px;
            background-color: var(--app-blue);
          }
  
          &.active {
              color: var(--app-blue);
          }
  
          &.active::after {
            display: block;
          }
  
          a {
              text-decoration: none;
              color: currentColor;
              font-weight: 600;
              font-size: 0.75rem;
  
              &:hover {
                color: var(--app-blue);
              }
          }
        }
      }
    }
  }