* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  --app-blue: #0282F9;
  --app-heavy-grey: #303030;
}

.jumbo {
  background-image: url("/img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 20vw;
}

.shop {
  height: 20vw;
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  background-color: var(--app-blue);
  font-size: 0.75rem;
  padding: 10px 20px;
}

.banner .container-banner {
  display: flex;
  justify-content: flex-end;
}

.banner .banner-list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.banner .banner-list li {
  text-transform: uppercase;
  color: white;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
}

.container-header .logo {
  width: 100px;
}

.container-header .logo img {
  width: 100%;
}

.container-header .main-nav {
  display: flex;
  gap: 20px;
}

.container-header .main-nav ul {
  display: contents;
  list-style: none;
}

.container-header .main-nav ul .nav__item {
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
}

.container-header .main-nav ul .nav__item::after {
  position: absolute;
  content: "";
  display: none;
  right: 0;
  left: 0;
  bottom: -53px;
  height: 4px;
  background-color: var(--app-blue);
}

.container-header .main-nav ul .nav__item.active {
  color: var(--app-blue);
}

.container-header .main-nav ul .nav__item.active::after {
  display: block;
}

.container-header .main-nav ul .nav__item a {
  text-decoration: none;
  color: currentColor;
  font-weight: 600;
  font-size: 0.75rem;
}

.container-header .main-nav ul .nav__item a:hover {
  color: var(--app-blue);
}

footer .footer__link {
  background-image: url("/img/footer-bg.jpg");
}

footer .footer__link .container {
  background-image: url("/img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 30px 10px 50px;
}

footer .footer__link .nav__menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 280px;
  width: 380px;
  gap: 10px;
  list-style: none;
}

footer .footer__link .nav__menu .link-title {
  text-transform: uppercase;
  color: white;
  margin-bottom: 15px;
}

footer .footer__link .nav__menu .nav__link {
  margin-bottom: 15px;
  list-style: none;
}

footer .footer__link .nav__menu .nav__link a {
  color: #626F7C;
  text-decoration: none;
  font-size: 0.7rem;
}

footer .footer__link .nav__menu .nav__link a:hover {
  color: var(--app-blue);
}

footer .footer__social {
  background-color: var(--app-heavy-grey);
  padding: 30px 10px;
}

footer .footer__social .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer__social .container button {
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid;
  border-color: var(--app-blue);
  padding: 8px;
}

footer .footer__social .container button a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

footer .footer__social .container .social__link {
  display: flex;
  align-items: center;
  gap: 18px;
  list-style: none;
}

footer .footer__social .container .social__link a {
  text-decoration: none;
  color: var(--app-blue);
  font-weight: 600;
}

main {
  min-height: 150px;
}

main .game-wrapper {
  padding: 50px 30px 20px;
}

main .game-wrapper .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  position: relative;
}

main .game-wrapper .container .tag {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, -170%);
  background-color: var(--app-blue);
  padding: 10px 20px;
}

main .game-wrapper .container .tag h3 {
  color: white;
  text-transform: uppercase;
}

main .game-wrapper .container .game__item {
  width: calc(16.6666666667% - 20px);
  padding: 10px 0;
}

main .game-wrapper .container .game__item .game__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 1/1;
  width: 100%;
}

main .game-wrapper .container .game__item .game__title {
  text-transform: uppercase;
  color: white;
  font-size: 0.7rem;
  padding-top: 15px;
}

main .game-wrapper button {
  background-color: var(--app-blue);
  color: white;
  text-transform: uppercase;
  padding: 10px 50px;
}

.blue-band {
  background-color: var(--app-blue);
  height: 80px;
  position: relative;
}

.blue-band img {
  position: absolute;
  bottom: 25px;
}

.comic-wrapper {
  padding: 70px 0;
}

.comic-wrapper .container {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.comic-wrapper .container .comic-info h1 {
  text-transform: uppercase;
}

.comic-wrapper .container .comic-info .price-wrapper {
  background-color: green;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}

.comic-wrapper .container .comic-info .price-wrapper .comic-price {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  padding: 15px;
}

.comic-wrapper .container .comic-info .price-wrapper .comic-price > span {
  text-transform: uppercase;
}

.comic-wrapper .container .comic-info .price-wrapper .comic-price .price {
  color: white;
  font-weight: 600;
}

.comic-wrapper .container .comic-info .price-wrapper .available {
  padding: 15px;
  color: white;
  font-weight: 600;
}

.comic-wrapper .container .adv {
  text-align: right;
}

.comic-wrapper .container .adv h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: grey;
}

